// Glass-like gradient effect for the login box
.login-box {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1); // Semi-transparent white
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); // Slightly darker shadow for contrast
    backdrop-filter: blur(15px); // Increased blur for a stronger glass effect
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.3); // Slightly more visible border
    color: #fff;
}

.toggle-password-visibiliy {
    cursor: pointer;
}